%select{id: "shape", onchange: "window.maker.shape_changed()"}
  %option{value: "basic"} Basic
  %option{value: "curled"} Curled Corners
  %option{value: "curved_hz", selected: "selected"} Horizontal curve
  %option{value: "curved_hz_bottom"} Horizontal curve (bottom only)
  %option{value: "curved_hz_top"} Horizontal curve (top only)
  %option{value: "perspective"} Left Perspective
  %option{value: "perspective_r"} Right Perspective
  %option{value: "curved_vt"} Vertical curve
  %option{value: "wrinkled"} Wrinkled
