%h2 Tweak the box

%h2
  Width
  %span#value_box_width 400
  px
#slider_box_width

%h2
  Height
  %span#value_box_height 300
  px
#slider_box_height

-#################################################################

%h2
  Top Left Radius Hz
  %span#value_box_top_left_hz 3
  \%
#slider_box_top_left_hz

%h2
  Top Right Radius Hz
  %span#value_box_top_right_hz 3
  \%
#slider_box_top_right_hz

%h2
  Bottom Right Radius Hz
  %span#value_box_bottom_right_hz 3
  \%
#slider_box_bottom_right_hz

%h2
  Bottom Left Radius Hz
  %span#value_box_bottom_left_hz 3
  \%
#slider_box_bottom_left_hz

-#################################################################

%h2
  Top Left Radius Vt
  %span#value_box_top_left_vt 3
  \%
#slider_box_top_left_vt

%h2
  Top Right Radius Vt
  %span#value_box_top_right_vt 3
  \%
#slider_box_top_right_vt

%h2
  Bottom Right Radius Vt
  %span#value_box_bottom_right_vt 3
  \%
#slider_box_bottom_right_vt

%h2
  Bottom Left Radius Vt
  %span#value_box_bottom_left_vt 3
  \%
#slider_box_bottom_left_vt
