<script type="text/javascript">
/* <![CDATA[ */
(function() {
    var s = document.createElement('script');
    var t = document.getElementsByTagName('script')[0];

    s.type = 'text/javascript';
    s.async = true;
    s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';

    t.parentNode.insertBefore(s, t);
 })();
/* ]]> */
</script>
<a class="FlattrButton" style="display:none;"
    title="CSS3 Drop Shadows Generator"
    data-flattr-uid="lkdjiin"
    data-flattr-tags="software, opensource"
    data-flattr-category="software"
    href="http://css3-drop-shadows.herokuapp.com/">

CSS3 Drop Shadows Generator is an online tool to design
originals shadows with css3. It's for designers, for
learning css3 and to try some experiments.
</a>
