%h2 Subtype
.content
  %input{type:"radio", name:"subtype", value:"top_bottom", checked: true} Top and bottom
  %br/
  %input{type:"radio", name:"subtype", value:"top"} Top
  %br/
  %input{type:"radio", name:"subtype", value:"bottom"} Bottom
  %br/
