%a{href: "https://trello.com/board/css3-drop-shadows-generator/5170f0d2186c2c0b2400302b"}
  = image_tag "Trello-Icon32.png"
  Project board on Trello
%br
  Get involved, vote for new features or leave a comment.

