%h2
  Width
  %span#value_box_width 400
  px
#slider_box_width.blue

%h2
  Height
  %span#value_box_height 300
  px
#slider_box_height.blue

-#################################################################

%h2
  Top Left Radius Hz
  %span#value_box_top_left_hz 3
  \%
#slider_box_top_left_hz.blue

%h2
  Top Right Radius Hz
  %span#value_box_top_right_hz 3
  \%
#slider_box_top_right_hz.blue

%h2
  Bottom Right Radius Hz
  %span#value_box_bottom_right_hz 3
  \%
#slider_box_bottom_right_hz.blue

%h2
  Bottom Left Radius Hz
  %span#value_box_bottom_left_hz 3
  \%
#slider_box_bottom_left_hz.blue

-#################################################################

%h2
  Top Left Radius Vt
  %span#value_box_top_left_vt 3
  \%
#slider_box_top_left_vt.blue

%h2
  Top Right Radius Vt
  %span#value_box_top_right_vt 3
  \%
#slider_box_top_right_vt.blue

%h2
  Bottom Right Radius Vt
  %span#value_box_bottom_right_vt 3
  \%
#slider_box_bottom_right_vt.blue

%h2
  Bottom Left Radius Vt
  %span#value_box_bottom_left_vt 3
  \%
#slider_box_bottom_left_vt.blue
