%section#setup
  %div{id: "setup_type", class: "setup_box"}
    = render "pages/home/setup_type"
  %div{id: "setup_subtype", class: "setup_box"}
    = render "pages/home/setup_subtype"
  %div{id:"setup_shadow", class:"setup_box"}
    = render "pages/home/setup_shadow"

%section#box_outer
  #box
    azerty
