%section#todo
  %h1 Todo
  %p
    %strong As soon as possible
  %ul
    %li Produce sass, scss and less code

  %p 
    %strong In no particular order:
  %ul
    %li Setup of the box (color, etc.)
    %li 
      Add many type of shadows
    %li Test in many browsers
    %li Do a Comments Page
    %li Code syntax highlight
    %li add a button to copy code to clipboard
    %li storing setups with webstorage
    %li An A &lt;-&gt; B comparison system

