/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
    font-family: Arial, "MS Trebuchet", sans-serif;
    color: #484040;
}

h1 {
    color: white;
    line-height: 80px;
    margin-left: 10px;
}

header {
    background-color: #484040;
    height: 80px;
}

/* Partagés
 *****************************************************************************/
.application_centered {
    width: 1280px;
    margin: 0 auto;
}

.setup_box {
  max-width: 300px;
  min-height: 80px;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;
  float: left;
}

/* Setup boxes
 *****************************************************************************/

#setup_shadow {
  width: 200px;
}

/* Box
 *****************************************************************************/
#box_outer {
  clear: left;
  border:1px solid #ccc;
  padding: 100px;
  background-color: #ccc;
  position: relative;
  z-index: -99;
}

#box {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
}

#box:before,
#box:after {
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.5);
  box-shadow: 0 15px 10px rgba(0,0,0,0.5);
  position: absolute;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  max-width: 431px;
  height: 20%;
  content: "";
}

#box:before {
  -webkit-box-shadow: 0 -15px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 -15px 10px rgba(0,0,0,0.5);
  box-shadow: 0 -15px 10px rgba(0,0,0,0.5);
  bottom:auto;
  top: 0;
}
