%footer
  %p #{link_to 'Xavier Nayrac', 'https://twitter.com/lkdjiin'}, 2011-2013
  %p GNU General Public License v3
  #thanks
    powered by #{link_to "ruby on rails", "http://rubyonrails.org/"} -
    hosted on #{link_to "heroku", "http://www.heroku.com/"}
