%header
  .application_centered
    %h1.brand
      = link_to 'CSS3 Drop Shadows Generator', root_path
      %span.version 0.9
    %nav
      %ul
        = top_menu
    #slogan For designers - For learning CSS3 - To try some experiments

