!!! 5
%html{ lang: "en" }
  %head
    %title= @title
    %meta{ charset: "UTF-8" }
    = render "layouts/scripts"
    = csrf_meta_tags

  %body
    %header
      .application_centered
        %h1 CSS3 Drop Shadows

    %div{id: "main_content", class: "application_centered"}
      = yield

